.speedometer_container {
  position: relative;
}
.progress {
  position: relative;
  margin: 4px;
  float: left;
  text-align: center;
}
.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 500px;
  height: 250px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 15px solid #070609; /* half gray, */
  border-bottom-color: #f09d38; /* half azure */
  border-right-color: #f09d38;
  box-shadow: 4px -4px 4px #f09d38;
}
.outermost_circle {
  border: solid 15px #fff;
  transform: rotate(45deg);
  border-radius: 50%;
  border-left-color: #f09d38;
  border-top-color: #f09d38;
  width: 500px;
  height: 500px;
  padding: 10px;
  //   border-right: none;
  //   border-bottom: none;
}
.inner_circle {
  //   border: solid 15px #fff;
  //   transform: rotate(45deg);
  //   border-radius: 50%;
  //   border-left-color: yellow;
  //   border-top-color: yellow;
  //   width: 400px;
  //   height: 400px;
  //   padding: 10px;
  //   top: 9%;
  //   left: 9%;
  //   position: absolute;
  width: 600px;
  height: 400px;
  padding: 10px;
  top: -10%;
  left: -7%;
  position: absolute;
}
.innermost_circle {
  //   border: solid 5px #fff;
  //   border-radius: 50%;
  //   width: 200px;
  //   height: 200px;
  //   padding: 10px;
  //   top: 54%;
  //   left: 26%;
  //   position: absolute;
  //   border-bottom: none;
  //   border-left: none;
  //   border-right: none;
  border: solid 5px #7b7c7d;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 10px;
  top: 41%;
  left: 24%;
  position: absolute;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.data_container {
  position: absolute;
  top: 63%;
  left: 38%;
}
.guage-svg {
  path {
    fill: #f09d38;
  }
}
